/* styles/globals.css */
body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    padding-top: 150px;
}



.canvas-wrapper {
    position: relative;
    border: 1px solid black;
    width: 754px;
    margin: auto;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1em;
    border: 1px solid black;
}

.modal-mini {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    transform: translateY(-100%) translateX(-36%);
}

.gold-info {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

div {
    text-align: center;

}

.flex {
    display: flex;
    width: 747px;
    margin: auto;
    justify-content: space-between;
}